@layout('layouts/main')

@set('title', 'Notre serveur est claqué au sol - Hypnos')
@set('robots', 'noindex, nofollow')

@section('content')
  <div class="flex flex-col items-center space-y-5">
    <p class="text-6xl text-gray-800 font-bold">500</p>
    <p class="text-xl text-gray-600">Mmmh... Notre serveur est claqué au sol</p>
    <a href="javascript:history.back()" class="text-blue-500">Revenir en arrière</a>
  </div>
@endsection
