@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadeIn {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0.9);
      opacity: 0;
    }
  }

  @keyframes slideUp {
    from {
      transform: translate(-50%, 12px);
      opacity: 0;
    }
    to {
      transform: translate(-50%, 0);
    }
  }

  @keyframes slideDown {
    from {
      transform: translate(-50%, 0);
    }
    to {
      transform: translateX(-50%) translateY(12px);
      opacity: 0;
    }
  }

  .fadeIn {
    animation: fadeIn 150ms ease;
  }

  .fadeOut {
    animation: fadeOut 150ms ease;
  }

  .slideUp {
    animation: slideUp 150ms ease;
  }

  .slideDown {
    animation: slideDown 150ms ease;
  }
}
