<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || 'Hypnos' }}</title>
  @if(description)
    <meta name="description" content="{{ description }}">
  @endif
  <meta name="robots" content="{{ robots || 'index, follow' }}">
  @entryPointStyles('app')
  @entryPointScripts('app')
  <script src="https://unpkg.com/htmx.org@1.7.0" defer></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.5" defer></script>
</head>
<body class="min-h-screen bg-gray-100 pb-5 font-inter">
  @include('partials/header')
  @!section('hero')
  <main class="max-w-screen-lg m-auto px-5 mt-5 md:mt-10">
    @!section('content')
  </main>
  @!snackbar()
  @!mobileMenu()
</body>
</html>